*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card {
    width: 80%;
    max-width: 600px;
    background-color: aqua;
    color: #f0f8ff;
    margin: auto;
    margin-top: 80px;
    padding: 40px 20px;

}
img{
    width: 200px;
    display: block;
    margin: 10px auto;
}