.paleta {
  display: flex;
  gap: 10px;
  alignment-baseline:central ;
  margin-top: 10px;
  color: rgb(173, 172, 171);
}

.color {
  width: 80%;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  text-align: center;
  

}

.color1 { background: #d82525;
}

.color2 { background: #3faeca; 
}
.color3 { background: #d0f335; }
.color4 { background: #2ccc4e; }

.texto {
  font-size: 16px;
  font-weight: bold;
  padding: 0 10px;
  color: #494848;
  list-style: central;
}